/* Write your code here. */
.bg-container {
  background-color: #fff;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.heading {
  color: #000000;
  font-size: 46px;
  font-family: 'Roboto';
  font-weight: 600;
}
.small-box {
  background-color: #fbbf24;
  height: 20vh;
  width: 20vw;
  color: #fff;
}
.medium-box {
  background-color: #38bdf8;
  height: 40vh;
  width: 40vw;
  color: #fff;
}
.large-box {
  background-color: #ec4899;
  height: 60vh;
  width: 60vw;
  color: #fff;
}
